body,
.main {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: var(--white);
  /* outline: red 2px solid;' */
}

:root {
  --main: #59189a;
  --black: #161616;
  --white: #d8d8d8;
}

html {
  scroll-behavior: smooth;
}

body,
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* cursor: url("/images/cursor-default.svg"), auto;  */
  background-color: var(--black);
  background-image: radial-gradient(
      circle at 80% 100%,
      hsla(270, 73%, 35%, 0.45) 0px,
      transparent 30%
    ),
    radial-gradient(
      circle at 0% 0%,
      hsla(270, 73%, 35%, 0.45) 0px,
      transparent 50%
    );
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  color: var(--white);
  width: 100%;
  justify-content: center;
  height: 100vh;
}

#graziella {
  color: var(--main);
  position: relative;
  display: inline-block;
}

#graziella::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main);
  transition: width 0.3s ease-in-out;
}

#graziella:hover::after {
  width: 100%;
}

#hello-hand {
  width: 120px;
  transition: ease 0.3s;
}

#hello-hand:hover {
  transform: scale(1.1);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin: 120px 0;
  width: 100%;
}

#home-title {
  font-size: 50px;
  padding: 10px;
}

#home-description {
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
}

.home-text {
  margin: 0 30px;
  width: 80%;
}

.menu-bar {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: var(--main) 2px solid;
  background-color: var(--black);
  height: 60px;
  border-radius: 5rem;
  /*padding: 35px;*/
  bottom: 0;
  justify-content: space-evenly;
  padding: 0 15px;
  place-items: center;
  position: fixed;
  z-index: 2;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  width: 85%;
  height: 9.5%;
}

.icon-side-bar {
  width: 35px;
  /* cursor: url("/images/cursor-click.svg"), auto; */
  background-color: var(--black);
  transition: backgound-color 0.3s ease;
  padding: 10px;
}

.icon-side-bar:hover {
  opacity: 40%;
}

.icon-side-bar.active {
  background-color: var(--main);
  padding: 10px;
  border-radius: 10px;
}

.filter-btn.active {
  background-color: var(--main);
  border-radius: 5px;
  padding: 5px 10px;
  background-position: right;
}

.main-page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.main-page p {
  font-size: 300px;
}

.section-title {
  display: flex;
  color: var(--white);
  margin: 20px 0;
  font-size: 25px;
  background-color: var(--main);
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
  width: 50%;
}

/* .icon {
  cursor: url("/images/cursor-click.svg"), auto;
}
 */
.icon:hover {
  opacity: 40%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  justify-content: center;
}

.exp-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--black);
  border-radius: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  padding: 12px;
  justify-content: space-around;
  width: fit-content;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin: 8px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.project-img {
  display: none;
}

.project-title {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: fit-content;
}

.project-title h2 {
  border-bottom: var(--main) 3px solid;
  font-size: 15px;
}

.project-text {
  width: 70%;
  margin: 5px;
}

.icon-cel {
  width: 70%;
}

.icon-pc {
  display: none;
}

.project-desc {
  margin: 5px 0;
  padding: 10px 0;
  font-size: 10px;
}

.technologies {
  display: none;
}

.technologies-title {
  display: none;
}

.technology-icon {
  display: none;
  transition: ease 0.3s;
}

.technology-icon:hover {
  transform: scale(1.1);
}

.tech-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tech-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.tech-card {
  padding: 1.5rem;
  border: var(--main) 2px solid;
  border-radius: 1rem;
  background-color: var(--black);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  transition: linear 0.2s;
}

.tech-card:hover {
  transform: scale(1.1);
}

.tech-card-img {
  font-size: 6rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
  align-items: center;
}

.subject-img {
  display: none;
}

button {
  background-color: transparent;
  border: none;
  /*   cursor: url("/images/cursor-click.svg"), auto; */
  transition: linear 0.1s;
  text-decoration: none;
}

a {
  text-decoration: none;
  /*   cursor: url("/images/cursor-click.svg"), auto; */
}

.abt-me-section {
  margin: 30px 0 0 0;
}

.abt-me-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 80px 50px;
  gap: 50px;
}

.abt-me-img:hover {
  transform: scale(1.1);
}

.abt-me-img {
  padding: 10px;
  width: 60%;
  height: auto;
  border-radius: 50%;
  position: relative;
  border: 2px var(--main) solid;
  transition: transform 0.3s ease;
}

#abt-me-text {
  font-size: 20px;
  text-align: center;
}

footer {
  background-color: var(--black);
  padding: 30px 0 100px 30px;
  border-radius: 30px 30px 0 0;
  box-shadow: 5px 5px 20px 5px hsla(0, 0%, 0%, 0.404);
}

.footer-title {
  font-size: 10px;
}

.social-medias {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}

.media-icon {
  font-size: 15px;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-50%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  #home-description {
    font-size: 30px;
  }

  .menu-bar {
    height: 8%;
    margin: 0 0 30px 0;
  }

  .icon-side-bar {
    width: 50px;
  }

  .section-title {
    font-size: 40px;
  }

  .project-title h2 {
    font-size: 20px;
  }

  .project-desc {
    font-size: 15px;
  }

  .filter-btns {
    display: flex;
    gap: 60px;
  }

  .filter-btn {
    font-size: 25px;
    padding: 15px;
  }

  .filter-btn.active {
    padding: 15px;
  }

  .abt-me-img {
    width: 30%;
  }

  #abt-me-text {
    width: 90%;
  }

  footer {
    padding: 40px 40px 120px 40px;
  }

  .footer-title {
    font-size: 15px;
  }

  .media-icon {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    max-width: 90%;
    margin: 30px;
  }

  .menu-bar {
    place-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    height: auto;
    max-width: 70px;
    margin: 0 0 40px 25px;
    left: 0;
    top: 20%;
    bottom: 20%;
    align-items: center;
  }

  .icon-side-bar {
    width: 45px;
  }

  .home-content {
    display: flex;
    flex-direction: row;
    text-align: start;
    max-width: 800px;
    max-height: 500px;
    margin: 100px 0;
  }

  #home-description {
    font-size: 25px;
  }

  #home-title {
    font-size: 70px;
  }

  #hello-hand {
    width: 180px;
  }

  .main-page {
    justify-content: end;
    align-items: flex-end;
    gap: 60px;
  }

  .exp-section {
    gap: 50px;
  }

  .project-title h2 {
    font-size: 22px;
  }

  .project {
    justify-content: space-between;
    padding: 30px;
    max-width: 480px;
    height: 275px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .project-text {
    max-width: 50%;
    margin: 0;
    padding: 0;
  }

  .project-img {
    display: block;
    width: 30%;
    height: 50%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .technologies-title {
    margin: 5px 0;
    padding: 5px 0;
    font-size: 14px;
  }

  .technology-icon {
    display: block;
    padding: 5px;
    margin: 5px;
    width: 50px;
  }

  .arrow {
    display: none;
    width: 20px;
  }

  .project-desc {
    font-size: 15px;
  }

  .icon-cel {
    width: 30px;
  }

  .abt-me-img {
    width: 25%;
  }

  #abt-me-text {
    font-size: 25px;
  }

  .footer-title {
    font-size: 20px;
  }

  footer {
    width: 100%;
    padding: 30px 0 100px 120px;
  }

  .media-icon {
    font-size: 35px;
    transition: linear 0.3s;
  }

  .media-icon:hover {
    opacity: 40%;
  }

  .course-img {
    grid-area: cev;
  }

  .git-github-img img {
    width: 100%;
  }
}
